<section id="pricing-option2" class="background2 section-padding">
  <div class="container">
    <div class="row">
      <div class="section-title col-xs-12 text-center">
        <h2>So you're into the idea? Rad!</h2>
        <span class="section-divider mb15"></span>
        <p class="no-margin">But how far are you really willing to go? Don't worry there's options!</p>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.row -->

    <div class="row mt50">
      <!-- Item 1 -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30-xs topReveal">
        <ul class="plan plan2 featured">
          <li class="plan-name">Part Time</li>
          <li>
            <strong>20hrs</strong> per week - dedicated to future
            <b>Corps</b> web development & tech innovation.</li>
          <li>
            <strong>Free</strong> Tuition</li>
          <li>Live the
            <strong>lifestyle you want!</strong>
          </li>
          <li>Just cover your
            <strong> expenses. </strong>
          </li>
          <li>
            <strong> Be on time, work hard, </strong> who knows? You might just fall in love with the future
            <b>Corps</b> lifestyle.
          </li>
          <li class="plan-action">
            <a class="btn btn-default btn-lg" href="#">Apply Now</a>
          </li>
        </ul>
      </div>
      <!-- /.column -->

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30-xs topReveal">
        <ul class="plan plan2 featured">
          <li class="plan-name">Minimalist</li>
          <li>
            <strong>40hrs</strong> per week - dedicated to future
            <b>Corps</b> web development or tech innovation.</li>
          <li>
            <strong>Free</strong> Tuition, Room, and Board - and the freedom to work part time elsewhere to cover any additional
            personal expenses i.e. phone bill, car payment, insurance.</li>
          <li>Live the
            <strong>lifestyle</strong> of the
            <strong>Corps!</strong>
          </li>
          <li>Think about your life and where it's headed?
            <strong> Could it be better? </strong> More
            <strong> structured, healthy, purposeful?</strong>
          </li>
          <li> Work at your own pace to
            <strong>accomplish great things</strong>. Prove you're future
            <b>Corps</b> and you'll land a
            <strong> 3 month internship</strong> with our affiliate
            <strong>Onflo</strong> and maybe even get asked to stay around as
            <strong>future
              <b>Corps</b> paid staff!</strong>.</li>
          <li class="plan-action">
            <a class="btn btn-default btn-lg" href="#">Apply Now</a>
          </li>
        </ul>
      </div>
	  <!-- /.column -->

	  <!-- Item 2 -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30-xs topReveal">
			<ul class="plan plan2 featured">
			  <li class="plan-name">Ultra-Minimalist</li>
			  <li>
				<strong>45hrs +</strong> per week - dedicated to future
				<b>Corps</b> web development & tech innovation.</li>
			  <li>
				<strong>This is not for everyone!</strong> But if you want to get the most out of your time, get ahead of your peers
				on developement, graduate early, and even make some money while at future
				<b>Corps</b>, than this program is for you!
			  </li>
			  <li>
				<strong>Free</strong> Tuition, Room, and Board</li>
			  <li>Live the
				<strong>lifestyle</strong> of a true
				<strong>technilogical mind</strong> under
				<strong>future
				  <b>Corps</b> values!</strong>
			  </li>
			  <li>
				<strong> Graduate Early! </strong> Future
				<b>Corps</b> Ultra-Minimalist members are not required to leave early form the program, but may opt out of their year contract at <strong>month 10</strong> if they've
				shown commitment to the values. You will live a
				<strong>distraction free minimalist lifestyle</strong> with all your
				<strong>basic needs covered</strong>, and focus
				<strong>solely</strong> on becoming the
				<strong>best computer programmer you can be!</strong>
			  </li>
			  <li>
				Work with our affiliate
				<strong>Onflo to earn money after as little as 3 months!</strong>
			  </li>
			  <li class="plan-action">
				<a class="btn btn-default btn-lg" href="#">Apply Now</a>
			  </li>
			</ul>
		  </div>
		  <!-- /.column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.section -->
<!-- End Section 2 -->
