<header>
  <!-- Begin Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <button routerLink="home" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="_parent"
            aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand scroll-link" routerLink="home" data-id="home">
            <span class="icon-handle-streamline-vector logo"></span>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a routerLink="home" class="#bs-example-navbar-collapse-1" target="_parent">Onward to the Future</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-menu-down"></span>
              </a>
              <ol class="dropdown-menu">
                <li>
                  <a routerLink="/students">Students</a>
                </li>
                <li>
                  <a href="https://workflowy.com/" target="_blank">Administration</a>
                </li>
                <li>
                    <a class="dropdown-menu dropdown-divider"></a>
                  </li>
                <br>
                <li>
                  <a routerLink="/about-us">About Us</a>
                </li>
                <li>
                  <a href="https://www.gofundme.com/support-futurecorps" target='blank'>Donate </a>
                </li>
                <li>
                  <a routerLink="/contact-us" target="_parent">Contact</a>
                </li>
              </ol>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- End Navigation -->
</header>
