<header>
  <!-- Begin Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a routerLink="home"></a>
            <span class="icon-handle-streamline-vector logo"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="about-us">About</a>
            <a class="dropdown-item" href="#">Contact</a>
            <a class="dropdown-item" href="#">Donate</a>
            <a class="dropdown-item" href="#">Volunteer</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a routerLink="home" class="#bs-example-navbar-collapse-1" target="_parent">Onward to the Future</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-menu-down"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a routerLink="intro-video" target="blank">Students</a>
                </li>
                <li>
                  <a href="https://workflowy.com/" target="_blank">Administration</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- End Navigation -->
</header>
