#bs-example-navbar-collapse-1 > ul > li.dropdown > ol > li:nth-child(3) > a {
    position: relative;
}

#bs-example-navbar-collapse-1 > ul > li.dropdown > ol > {
    background-color: azure;
    opacity: .6;
}

#bs-example-navbar-collapse-1 > ul > li.dropdown > ol > li:nth-child(3) > a {
    border-left: none;
}