<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" routerLink="/">Particles Documentation</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li>
            <a routerLink="/top" class="active">Top</a>
          </li>
          <li>
            <a routerLink="/markup">Markup</a>
          </li>
          <li>
            <a routerLink="/styles">Styles</a>
          </li>
          <li>
            <a routerLink="/javascript">JavaScript</a>
          </li>
          <li>
            <a routerLink="/php">PHP</a>
          </li>
          <li>
            <a routerLink="/credits">Credits</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>