<section id="about" class="background1 section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-title text-center">
        <h2>About</h2>
        <span class="section-divider"></span>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.row -->
    <div class="row mb15">
      <div class="col-sm-5 leftReveal">
        <h5 class="heading-1 mb20">Our Mission</h5>
        <h3 class="mb15 no-margin-top">Design, Develop, and
          <br>Innovate to make a difference...</h3>
        <p class="no-margin text-small">We take people with hard work ethic, a desire for healthy lifestyle, and a belief in humanity a chance to make their <b>idealism reality</b>.</p>
      </div>
      <!-- /.column -->
      <div class="col-sm-7 mt30-xs rightReveal">
        <h5 class="heading-1 mb20">About Us</h5>
        <span class="icon-handle-streamline-vector logo-about"></span>
        <p> We are a grass roots non-profit tech company / coding school offering students from any socioeconomic background
          the opportunity to learn valuable skills, and make a truly significant
          <b>impact on the world</b> through gobal and local technological innovation. We like to think of ourselves as the
          <b>'peace corps' of the tech industry.</b>
        </p>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.row -->
    <div class="row mb30">
      <div class="col-sm-9 leftReveal">
        <h5 class="heading-1 mb20">Why?</h5>
        <p class="lead no-margin">Because we believe in people. Because we've been there. Because we know that people chasing capital gain will never
          make the same difference as people chasing change. Because we believe we can make a difference in the world with
          technology!</p>
      </div>
      <!-- /.column -->
      <div class="col-sm-3 mt30-xs rightReveal">
        <h5 class="heading-1 mb20">Quote</h5>
        <p class="no-margin text-small">
          <i>"Technology was developed to prevent exhausting labor. It is now dedicated to trivial conveniences." B.F. Skinner.
            (Citadel)
          </i>
        </p>
      </div>
      <!-- /.column -->
    </div>
      <!-- /.column -->
      <div class="col">
        <div id="about-carousel" class="basic-carousel carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#about-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#about-carousel" data-slide-to="1"></li>
            <li data-target="#about-carousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="assets/images/placeholder.png" alt="..." class="img-responsive">
            </div>
            <div class="item">
              <img src="assets/images/placeholder2.png" alt="..." class="img-responsive">
            </div>
            <div class="item">
              <img src="assets/images/placeholder3.png" alt="..." class="img-responsive">
            </div>
          </div>
        </div>
      </div>
      <!-- /.column -->
   
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
