<section id="services" class="background2 section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 section-title text-center">
        <h2>Tech</h2>
        <span class="section-divider"></span>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.row -->

    <div class="row">

      <!-- item -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 tech-container" *ngFor="let tech of techs">
        <div class="services-box leftReveal">
          <span class="pe-7s-{{ tech.icon }} services-icon"></span>
          <h3 class="service-name">{{ tech.title }}</h3>
          <p class="text-small">{{ tech.description }}</p>
          <button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item1-services">Info</button>
        </div>
      </div>

      <!-- modal -->
      <div class="modal fade" id="item1-services" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="ion-ios-close-empty"></span>
              </button>
              <span class="pe-7s-airplay services-icon-2"></span>
              <h4 class="service-title">Web Design</h4>
            </div>
            <div class="modal-body">
              <p></p>
              <h5 class="heading-1 modal-heading mb20">About</h5>
              <p class="no-margin-bottom"></p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>