<section id="our-process">
  <div id="our-process-title" class="pt30 pb30">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h4 class="no-margin">Our Process</h4>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.div -->
  <!-- End Our Process Title -->

  <!-- Begin Our Process -->
  <div id="our-process">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
          <div class="leftReveal">
            <div class="process-intro">
              <h3 class="process-number">01</h3>
              <div>
                <span class="process-icons pe-7s-users rotateBottomReveal"></span>
              </div>
              <h2>Intentional
                <br>Living</h2>
            </div>
            <div class="process-content">
              <div>
                <span class="process-icons pe-7s-users"></span>
              </div>
              <h2 class="mt15 mb20">Intentional
                <br>Living</h2>
              <p class="no-margin">By eating healthy and excercising, working toward community, and growing in personal development - you can't
                leave Future Corps without changing your life for the better.</p>
            </div>
          </div>
          <!-- /.animation -->
        </div>
        <!-- /.column -->
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
          <div class="bottomReveal">
            <div class="process-intro">
              <h3 class="process-number">02</h3>
              <div>
                <span class="process-icons pe-7s-diamond rotateBottomReveal"></span>
              </div>
              <h2>Innovative
                <br>Tech
                <br>Development
              </h2>
            </div>
            <div class="process-content">
              <div>
                <span class="process-icons pe-7s-diamond"></span>
              </div>
              <h2 class="mt15 mb20">Innovative
                <br>Tech
                <br>Development</h2>
              <p class="no-margin">We specialize in Python, Html, Css, Javascript, Angular, and that's just the beginning. From apps to websites,
                AI to robotics, the sky is the limit at {{ name }}.</p>
            </div>
          </div>
          <!-- /.animation -->
        </div>
        <!-- /.column -->
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50 no-border-right">
          <div class="rightReveal">
            <div class="process-intro">
              <h3 class="process-number">03</h3>
              <div>
                <span class="process-icons pe-7s-rocket rotateBottomReveal"></span>
              </div>
              <h2>Graduate
                <br>by
                <br>Getting
                <br>Hired
              </h2>
            </div>
            <div class="process-content">
              <div>
                <span class="process-icons pe-7s-rocket"></span>
              </div>
              <h2 class="mt15 mb20">Graduate
                <br>by
                <br>Getting
                <br>Hired
              </h2>
              <p class="no-margin">While we are a small start-up we are working with affiliates in the area and gaining a reputation for our students.
                If you can't get a job when you're finished at Future Corps, we will get you one with our affiliates. Some students will even go on to be Future Corps staff!</p>
            </div>
          </div>
          <!-- /.animation -->
        </div>
        <!-- /.column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
</section>
