<section id="our-process">
  <div id="our-process-title" class="pt30 pb30">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h4 class="no-margin">Our Ideology</h4>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.div -->
  <!-- End Our Process Title -->

  <!-- Begin Our Process -->
  <div id="our-process">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
          <div class="leftReveal">
            <div class="process-intro">
              <h3 class="process-number">01</h3>
              <div>
                <span class="process-icons pe-7s-users rotateBottomReveal"></span>
              </div>
              <h2>Intentional
                <br>Living</h2>
            </div>
            <div class="process-content">
              <div>
                <span class="process-icons pe-7s-users"></span>
              </div>
              <h2 class="mt15 mb20">Intentional
                <br>Living</h2>
              <p class="no-margin">Nullam suscipit, massa id tempor ullamcorper, lacus felis ac, id vulputate daui risus porta libero.</p>
            </div>
          </div>
          <!-- /.animation -->
        </div>
        <!-- /.column -->
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
          <div class="bottomReveal">
            <div class="process-intro">
              <h3 class="process-number">02</h3>
              <div>
                <span class="process-icons pe-7s-diamond rotateBottomReveal"></span>
              </div>
              <h2>Quality
                <br>Web
                <br>Development
              </h2>
            </div>
            <div class="process-content">
              <div>
                <span class="process-icons pe-7s-diamond"></span>
              </div>
              <h2 class="mt15 mb20">Quality
                <br>Web
                <br>Development</h2>
              <p class="no-margin">Nullam suscipit, massa id tempor ullamcorper, lacus felis ac, id vulputate daui risus porta libero.</p>
            </div>
          </div>
          <!-- /.animation -->
        </div>
        <!-- /.column -->
        <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50 no-border-right">
          <div class="rightReveal">
            <div class="process-intro">
              <h3 class="process-number">03</h3>
              <div>
                <span class="process-icons pe-7s-rocket rotateBottomReveal"></span>
              </div>
              <h2>Graduate
                <br>by
                <br>Getting
                <br>Hired
              </h2>
            </div>
            <div class="process-content">
              <div>
                <span class="process-icons pe-7s-rocket"></span>
              </div>
              <h2 class="mt15 mb20">Graduate
                <br>by
                <br>Getting
                <br>Hired
              </h2>
              <p class="no-margin">Nullam suscipit, massa id tempor ullamcorper, lacus felis ac, id vulputate daui risus porta libero.</p>
            </div>
          </div>
          <!-- /.animation -->
        </div>
        <!-- /.column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
</section>
