<section class="background1 section-padding">
  <div class="container">
    <div class="row mb30">
      <div class="col-lg-6 col-lg-offset-3 section-title text-center">
        <h2>Pricing</h2>
        <span class="section-divider mb15"></span>
        <p class="no-margin">We offer extremely competitive prices for all products.</p>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.row -->
    <div class="row mb50">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="heading-3 mt10 scaleReveal">Some of Our Clients</h2>
        <img src="assets/images/logos/coca.png" alt="Client 1" class="img-responsive pricing-clients mr15 topReveal">
        <img src="assets/images/logos/ebay.png" alt="Client 2" class="img-responsive pricing-clients mr15 bottomReveal">
        <img src="assets/images/logos/microsoft.png" alt="Client 3" class="img-responsive pricing-clients mr15 topReveal">
        <img src="assets/images/logos/pepsi.png" alt="Client 4" class="img-responsive pricing-clients bottomReveal">
      </div>
      <!-- /.column -->
    </div>
    <!-- /.row -->
    <div class="row">

      <!-- Item 1 -->
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 bottomReveal">
        <ul class="plan plan1">
          <li class="plan-name">Basic</li>
          <li class="plan-price">
            <strong>$29</strong> / month</li>
          <li>
            <strong>400GB</strong> Bandwidth</li>
          <li>
            <strong>10</strong> Email Address</li>
          <li>
            <strong>Forum</strong> Support</li>
          <li>
            <strong>No</strong> Squirel</li>
          <li class="plan-action">
            <a class="btn btn-default btn-lg" href="#">Signup</a>
          </li>
        </ul>
      </div>
      <!-- /.column -->

      <!-- Item 2 -->
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mt30-xs topReveal">
        <ul class="plan plan2 featured">
          <li class="plan-name">Standard</li>
          <li class="plan-price">
            <strong>$39</strong> / month</li>
          <li>
            <strong>400GB</strong> Bandwidth</li>
          <li>
            <strong>10</strong> Email Address</li>
          <li>
            <strong>Forum</strong> Support</li>
          <li>
            <strong>No</strong> Squirel</li>
          <li class="plan-action">
            <a class="btn btn-default btn-lg" href="#">Signup</a>
          </li>
        </ul>
      </div>
      <!-- /.column -->

      <!-- Item 3 -->
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mt30-sm mt30-xs bottomReveal">
        <ul class="plan plan3">
          <li class="plan-name">Advanced</li>
          <li class="plan-price">
            <strong>$199</strong> / month</li>
          <li>
            <strong>1024GB</strong> Bandwidth</li>
          <li>
            <strong>Unlimited</strong> Email Address</li>
          <li>
            <strong>Forum</strong> Support</li>
          <li>
            <strong>Free</strong> Squirel</li>
          <li class="plan-action">
            <a class="btn btn-default btn-lg" href="#">Signup</a>
          </li>
        </ul>
      </div>
      <!-- /.column -->

      <!-- Item 4 -->
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mt30-sm mt30-xs topReveal">
        <ul class="plan plan4">
          <li class="plan-name">Mighty</li>
          <li class="plan-price">
            <strong>$999</strong> / month</li>
          <li>
            <strong>1024GB</strong> Bandwidth</li>
          <li>
            <strong>Unlimited</strong> Email Address</li>
          <li>
            <strong>Forum</strong> Support</li>
          <li>
            <strong>Free</strong> Squirel</li>
          <li class="plan-action">
            <a class="btn btn-default btn-lg" href="#">Signup</a>
          </li>
        </ul>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
