div.container.center-vertically-holder > div > div > img {
    Height: auto;
    width: 60%;
    display: inline;
    opacity: .9;
}

 div.container.center-vertically-holder > div > div > p{
     text-align: right;
     margin-left: 200px;
 }

div.container.center-vertically-holder > div > div > h1 {
    color: black;
}

#home > div.container.center-vertically-holder > div > div > h1 > strong {
    color: #fff;
}