<div class="jumbotron jumbotron-main" id="home">
  <div id="particles-js"></div>
  <!-- /.particles div -->
  <div class="container center-vertically-holder">
    <div class="center-vertically">
      <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
        <h1 class="scaleReveal">
          future<strong>Corps</strong>
        </h1>
        <hr class="bottomReveal">
        <p class="bottomReveal"> &amp; modern design
          <i>+</i>&nbsp; code.</p>
        <a href="#ideology" data-id="ideology" class="scroll-link">
          <div class="scroll-indicator rotateBottomReveal">
            <span class="ion-mouse"></span>
            <br>
            <span class="ion-android-arrow-down arrow-scroll-indicator"></span>
          </div>
        </a>
      </div>
      <!-- /.column -->
    </div>
    <!-- /.vertical center -->
  </div>
  <!-- /.container -->
</div>
